In [1]:
import pandas as pd
import numpy as np
from re import sub
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [15]:
reviews = pd.read_csv('reviews.csv')
reviews = reviews.dropna().reset_index(drop=True)

In [16]:
## Brief cleaning
reviews_brief_cleaned = reviews

In [17]:
def clean(s):
    s = sub(r"[,!?.\/)('‘’“”+-:;–—\r\n\t\xa0]", " ", s)
    return (s.lower())

reviews_brief_cleaned.comments = [clean(row) for row in reviews_brief_cleaned.comments]

In [18]:
def isEnglish(s):
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return False
    else:
        return True
    
is_eng = reviews_brief_cleaned.comments.apply(isEnglish)
reviews_brief_cleaned = reviews_brief_cleaned[is_eng].reset_index(drop = True)
reviews_brief_cleaned.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2595,19176,2009-12-05,53267,Cate,great experience
1,2595,19760,2009-12-10,38960,Anita,i ve stayed with my friend at the midtown cast...
2,2595,34320,2010-04-09,71130,Kai-Uwe,we ve been staying here for about nights en...
3,2595,46312,2010-05-25,117113,Alicia,we had a wonderful stay at jennifer s charming...
4,2595,1238204,2012-05-07,1783688,Sergey,hi to everyone would say our greatest compli...

In [3]:
# Pull sentiment scores 
analyzer = SentimentIntensityAnalyzer()
reviews_brief_cleaned["score"] = reviews_brief_cleaned.comments.apply(lambda x: analyzer.polarity_scores(x)['compound'])

In [13]:
reviews_brief_cleaned.score.describe()

In [19]:
reviews_sentiment = reviews_brief_cleaned[["listing_id", "id", "date", "reviewer_id", "score"]]

In [21]:
reviews_sentiment.to_csv("reviews_sentiment.csv")